/* header.component.css */

.header-content {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0.5rem;
  background-color: #4285f4; /* Set your preferred background color */
  color: white; /* Set your preferred text color */
  width: 100%;
}

.header-description{
  margin-right: 1%;
  font-weight: bold;
}

