<div class="card flex justify-content-center" class="card">
  <p-card>
    <p class="header">WELCOME TO PROMIS SX</p>
    <div class="username">
      <input
        type="text"
        pInputText
        [(ngModel)]="value"
        placeholder="Username"
        class="w-full"
      />
    </div>
    <div>
      <p-password
        id="password1"
        type="password"
        class="w-full"
        [feedback]="false"
        placeholder="Password"
        styleClass="p-password p-component p-inputwrapper p-input-icon-right"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        [toggleMask]="true"
      ></p-password>
    </div>
    <div class="card flex justify-content-center">
      <p-button label="Login" (click)="onSubmit()"></p-button>
    </div>
  </p-card>
</div>
