<div class="card">
  <p-table
    #dt1
    [value]="customers"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="[
      'name',
      'country.name',
      'representative.name',
      'status'
    ]"
    [scrollable]="true"
    scrollHeight="flex"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <button
          pButton
          label="Add User"
          class="p-button-filled"
          icon="pi pi-plus"
          (click)="showDialog()"
        ></button>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            type="text"
            placeholder="Search"
            pInputText
            (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width: 15rem">
          <div class="flex align-items-center">
            Username
            <p-columnFilter
              type="text"
              field="username"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th style="min-width: 15rem">
          <div class="flex align-items-center">
            Employee Name
            <p-columnFilter
              type="text"
              field="empName"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th style="min-width: 15rem">
          <div class="flex align-items-center">
            Department
            <p-columnFilter
              type="text"
              field="department"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th style="min-width: 10rem">
          <div class="flex align-items-center">
            Cluster
            <p-columnFilter
              type="date"
              field="cluster"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th style="min-width: 10rem">
          <div class="flex align-items-center">
            Status
            <p-columnFilter
              type="text"
              field="status"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td>
          {{ customer.name }}
        </td>
        <td>
          <img
            src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
            [class]="'flag flag-' + customer.country.code"
            style="width: 20px"
          />
          <span class="ml-1 vertical-align-middle">{{
            customer.country.name
          }}</span>
        </td>
        <td>
          <img
            [alt]="customer.representative.name"
            src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{
              customer.representative.image
            }}"
            width="32"
            style="vertical-align: middle"
          />
          <span class="ml-1 vertical-align-middle">{{
            customer.representative.name
          }}</span>
        </td>
        <td>
          {{ customer.date | date : "MM/dd/yyyy" }}
        </td>
        <td>
          {{ customer.balance | currency : "USD" : "symbol" }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
  <div>
    <p-dialog
      header="Add User"
      [(visible)]="visible"
      [style]="{ width: '50vw' }"
    >
    <p-splitter [style]="{ height: '450px' }" styleClass="mb-5">
      <ng-template pTemplate>
          <div class="col flex align-items-center justify-content-center">
            <div class="flex flex-column gap-3">
              <label for="userid">User ID</label>
              <input pInputText id="userid" aria-describedby="userid-help" [(ngModel)]="value" />
              <label for="username">User Full Name</label>
              <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="value" />
              <label for="department">Department</label>
              <input pInputText id="department" aria-describedby="department-help" [(ngModel)]="value" />
              <label for="cluster">Cluster</label>
              <input pInputText id="cluster" aria-describedby="cluster-help" [(ngModel)]="value" />
              <p-button label="Create User"></p-button>
            </div>
          </div>
      </ng-template>
      <ng-template pTemplate>
          <div class="col flex align-items-center justify-content-center"> 
        
          </div>
      </ng-template>
   </p-splitter>



    
    </p-dialog>
  </div>
</div>
